<ion-header>
  <!-- Barra superior con título -->
  <ion-toolbar class="headerArriba">
    <ion-title>Informes de Batch</ion-title>
  </ion-toolbar>

  <!-- Contenedor del logo -->
  <div class="image-container">
    <ion-img
      src="../../../assets/img/logo-web-3.jpg"
      alt="Maltexco logo"
      class="image-inside">
    </ion-img>
  </div>

  <!-- Barra de búsqueda -->
  <ion-toolbar>
    <ion-searchbar
      placeholder="Buscar por número de Batch"
      [(ngModel)]="query"
      (ionClear)="reiniciarFiltros()"
      (ionInput)="buscarBatch($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Mensaje de error si ocurre un problema -->
  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <!-- Filtro por fecha -->
  <ion-item *ngIf="!loading && !errorMessage">
    <ion-label>Filtrar por Fecha</ion-label>
    <ion-datetime
      presentation="month-year"
      placeholder="Selecciona una fecha"
      [(ngModel)]="fechaFiltro"
      (ionChange)="filtrarPorFecha()">
    </ion-datetime>
  </ion-item>

  <!-- Lista de fechas y batches -->
  <ion-list *ngIf="!loading && !errorMessage && fechasFiltradas.length > 0; else noData">
    <ion-card
      *ngFor="let fecha of fechasFiltradas | orderBy: 'desc'; let i = index"
      [ngClass]="{'card-open': isCardOpen(i), 'card-closed': !isCardOpen(i)}"
      (click)="toggleCard(i)">
      <ion-card-header>
        <ion-card-title>Fecha: {{ fecha | date: 'dd-MM-yyyy' }}</ion-card-title>
      </ion-card-header>

      <!-- Lista de batches colapsable -->
      <ion-list *ngIf="isCardOpen(i)">
        <ion-item
          *ngFor="let batch of getBatchesPorFecha(fecha)"
          (click)="goToBatchDetails(batch)">
          <ion-label>
            <h2>Batch: {{ batch.batch }}</h2>
            <p>Hora: {{ batch.fecha_analisis | date: 'dd-MM-yyyy' }}</p>
            <!-- <p>Estado Tina: {{ getEstadoTinaDescripcion(batch.id_estado_tina) }}</p> -->
            <p>Estado: {{ batch.id_estado }}</p>
            <p>Analista: {{ batch.id_analista }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-list>

  <!-- Mensaje de "Cargando..." si no hay fechas -->
  <ng-template #noData>
    <p class="no-data-message">Cargando...</p>
  </ng-template>
</ion-content>

<!-- Tabs flotantes -->
<ion-tab-bar class="custom-tab-bar">
  <ion-tab-button (click)="goBack()">
    <ion-icon name="arrow-back-circle-outline"></ion-icon>
    <ion-label>Volver</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="goHome()">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Inicio</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="goUser()">
    <ion-icon name="person-circle-outline"></ion-icon>
    <ion-label>Usuario</ion-label>
  </ion-tab-button>
</ion-tab-bar>
