<ion-header>
  <ion-header>
    <ion-toolbar class="headerArriba">
    </ion-toolbar>
  </ion-header>
  <ion-header>
    <div class="image-container">
      <ion-img src="../../../assets/img/logo-web-3.jpg" alt="maltexco logo" class="image-inside"></ion-img>
    </div>
  </ion-header>
</ion-header>

<ion-content *ngIf="batch">
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Información de Horno - Batch {{ batch.batch }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Sección: Datos Generales -->
      <ion-item-divider>
        <ion-label>Datos Generales</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        <ion-label>Estado: {{ getEstadoDescripcion(batch.id_estado) }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        <ion-label>Tipo Malta: {{ getTipoMaltaDescripcion(batch.id_tipo_malta) }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        <ion-label>Fecha Analisis: {{ batch.fecha_analisis | date: 'dd-MM-yyyy' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="leaf-outline"></ion-icon>
        <ion-label>Cliente: {{ getClienteDescripcion(batch.id_cliente) }}</ion-label>
      </ion-item>

      <!-- Sección: Datos generales -->
      <ion-item-divider>
        <ion-label>Producción</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        <ion-label>Fecha Producción: {{ batch.fecha_produccion | date: 'dd-MM-yyyy' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
        <ion-label>Tipo Horno: {{ getTipoHornoDescripcion(batch.id_tipo_horno) }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
        <ion-label>Tag Proceso: {{ batch.proceso_tag }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
        <ion-label>Variedad: {{ getVariedadDescripcion(batch.id_variedad) }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
        <ion-label>
          Origen Silo: {{ batch.silo_origen }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
        <ion-label>
          Destino Silo: {{ batch.silo_destino_1 }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
        <ion-label>
          Malta limpia: {{ batch.malta_limpia }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
        <ion-label>
          Humedad: {{ batch.humedad }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
        <ion-label>
          Sacarificación: {{ batch.tipo_sacarificacion }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
        <ion-label>
          Fino: {{ batch.ext_fino_ss }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
        <ion-label>
          Grueso: {{ batch.ext_gru_ss }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
        <ion-label>
          Fan: {{ batch.fan }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
        <ion-label>
          Analista Responsable: {{ getAnalistaDescripcion(batch.id_analista) }}</ion-label>
      </ion-item>



    </ion-card-content>
  </ion-card>

<ion-content *ngIf="!batch">
  <p style="text-align: center; margin-top: 20px;">Cargando...</p>
</ion-content>

<!-- Footer fijo para los botones -->
<ion-footer>
  <ion-tab-bar class="custom-tab-bar"
  style="position: fixed; bottom: 0; width: 100%; background-color: #ffffff; border-top: 1px solid #ccc;">
    <ion-tab-button (click)="goBack()">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
      <ion-label>Volver</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="goHome()">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="goUser()">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Usuario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
