<ion-header>
  <ion-toolbar class="headerArriba">
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Contenedor del logo -->
  <div class="image-container">
    <ion-img src="../../../assets/img/logo-web-3.jpg" alt="maltexco logo" class="image-inside"></ion-img>
  </div>

  <!-- Contenido principal -->
  <div class="main-content">
    <!-- Recuadro negro para el formulario -->
    <ion-card class="form-card">
      <form [formGroup]="formInic">
        <!-- Campo de usuario -->
        <ion-item>
          <ion-label position="stacked" style="margin: 10px; font-size: 20px;">Usuario</ion-label>
          <ion-input
            type="text"
            formControlName="username"
            placeholder="Ingrese el usuario"
            class="input-item centered-input"
            (keydown)="onKeydown($event)">
        </ion-input>
        </ion-item>
        <!-- Mensaje de error para el campo de usuario -->

        <ion-note color="danger" *ngIf="campo('username').invalid && fueTocado('username')" class="error-message">
          {{ getErrorMessage('username') }}
        </ion-note>


        <!-- Campo de contraseña -->
        <ion-item>
          <ion-label position="stacked" style="margin: 10px; font-size: 20px;">Contraseña</ion-label>
          <ion-input
            type="password"
            formControlName="password"
            placeholder="Ingrese la contraseña"
            class="input-item"
            (keydown)="onKeydown($event)">
          </ion-input>
        </ion-item>
        <!-- Mensaje de error para el campo de contraseña -->
        <ion-note color="danger" *ngIf="campo('password').invalid && fueTocado('password')" class="error-message">
          {{ getErrorMessage('password') }}
        </ion-note>

        <!-- Botón para iniciar sesión -->
        <ion-button
          expand="block"
          type="submit"
          (click)="onLogin()"
          [disabled]="isLoading || formInic.invalid"
          class="boton-iniciar-sesion"
          style="margin: 40px;">
          {{ isLoading ? 'Cargando...' : 'Iniciar sesión' }}
        </ion-button>
      </form>
    </ion-card>
  </div>
</ion-content>
