<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title class="title">Configuración de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <!-- Recuadro para cerrar sesión -->
  <div class="logout-container">
    <div class="logout-box">
      <ion-button expand="block" class="logout-button" (click)="logout()">
        Cerrar sesión
      </ion-button>
    </div>
  </div>

  <!-- Redes sociales -->
  <div class="social-container">
    <p>Síguenos en:</p>
    <div class="social-icons">
      <ion-icon name="logo-facebook" class="social-icon" (click)="openSocial('facebook')"></ion-icon>
      <ion-icon name="logo-twitter" class="social-icon" (click)="openSocial('twitter')"></ion-icon>
      <ion-icon name="logo-instagram" class="social-icon" (click)="openSocial('instagram')"></ion-icon>
      <ion-icon name="logo-linkedin" class="social-icon" (click)="openSocial('linkedin')"></ion-icon>
    </div>
  </div>

  <!-- Fondo de cebada -->
  <div class="background-image"></div>
</ion-content>
